$comment-support-1: #7d7569;
$white: #ffffff;
$black: #000000;
$c-neutral1: guss-colour(neutral-1);
$c-neutral2: guss-colour(neutral-2);
$c-neutral3: guss-colour(neutral-3);
$c-neutral4: guss-colour(neutral-4);
$c-neutral5: guss-colour(neutral-5);
$c-neutral6: guss-colour(neutral-6);
$c-neutral7: guss-colour(neutral-7);
$c-neutral8: guss-colour(neutral-8);

$c-body: $c-neutral1;
$c-background: $white;
$c-background-transparent: rgba(51, 51, 51, .1);
$c-link: guss-colour(news-main-1);
$c-error: guss-colour(error);
$c-warning: #e9e939;
$contribute-yellow: #FFBB00;
$gu-blue: #005689;
$gu-blue-dark:#003D70;